fastapi[standard]
uvicorn[standard]
pydantic
pydantic-settings
python-dotenv
sqlalchemy[asyncio]
asyncpg
alembic
python-jose[cryptography]
passlib[bcrypt]
bcrypt<5
email-validator
pytest
pytest-asyncio
aiosqlite
mcp

langchain
langgraph
langchain-google-genai

beautifulsoup4
requests

google-search-results
langchain_community

httpx
lxml
