fastapi[standard]
uvicorn[standard]
pydantic
pydantic-settings
python-dotenv

langchain
langgraph
langchain-google-genai

beautifulsoup4
requests

google-search-results
langchain_community

httpx
lxml
